.App{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



.screen{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;

    height: 5rem;
    width: 20%;
    border: solid black 1px ;
}

button{

    height: 3rem;
    width: 20%;
}

.texteRouge{
    color: red;
}